{% extends "template.html" %}
{% block conteudo %}
<div class="container">

        <h5 class="text-info">Alunos:</h5>
      
        <div corDoTexto="white">Fabrício Moreira Machado</div>

        <div corDoTexto="white">Henrique Alberto Morato</div>
      
        <h5 class="text-info">Curso:</h5>
      
        <div appMarcaTexto corDeFundo='blue' corDoTexto="white">Gestão de Tecnologia da Informação</div>

        <h5 class="text-info">Professor:</h5>
      
        <div appMarcaTexto corDeFundo='blue' corDoTexto="white">Rafael Martins</div>
      <!--
        <div class="text-center">                
            <img src="{{ url_for('static', filename='senac.jpg') }}" />
        </div>
    -->
    
      </div>
{% endblock %}      
      
      
      